html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(14, 23, 38, 0.95);
}

.navbar {
    background: #0e1726;
    color: white;
    border-bottom: 50px rgba(0, 0, 0, 1);
    height: 8vh;
}

.navbar-brand,
.nav-link {
    color: white;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}
.navbar-brand:hover,
.nav-link:hover {
    color: white;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

header {
    position: relative;
    background-color: #0e1726;
    height: 92vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.hero-media {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


header .down-arrow {
    text-align: center;
    object-fit: cover;
}
header .header-pulse-arrow {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    z-index: 9;
}
header .header-pulse-arrow img {
    animation: pulse 1.5s 1s ease-out infinite
}

header .header-downward-arrow {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    z-index: 10;
}

header .header-downward-arrow img {
    animation: slide-down 3s 1s ease-out infinite;
    opacity: 0;
}

.margins-provided {
    margin: 4% 7% auto;
}

.indented {
    margin: 3%;
}

.mini-video video{
    min-width: 150%;
    height: auto;
}

.caption {
    width: 150%;
}

.caption p {
    text-align: center;
}

.btn {
    background-color: #0e1726;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.btn:hover {
    background-color: rgba(14, 23, 38, 0.75);
    color: white;
}

.button-no-link-highlight a:hover {
    color: rgba(0, 0, 0, 0);
}

.version-numbers {
    font-size: 0.75em;
}

.page-footer {
    background-color: #222222;
    color: #cccccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666666;
    padding: 40px 0;
}

.footer-copyright a {
    color: inherit;
}

.footer-copyright a:hover {
    color: inherit;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 0;
        transform: none;
    }

}